<!DOCTYPE html>
<html>
<head>
  <title>Lnk</title>
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
  <link rel="manifest" href="./static/site.webmanifest">
  <!-- End favicon -->
  <meta name="viewport" content="width=device-width, initial-scale=0.7 maximum-scale=1.0, user-scalable=0"/>
  <meta name="HandheldFriendly" content="True"/>
  <style type="text/css">
    html {
      height: 100%;
      width: 100%;
    }
    table {
      table-layout: fixed;
    }
    summary {
      cursor: default;
    }
    .base {
      margin-top: 3%;
      margin-left: 3%;
      font-size: 18px;
    }
    .content {
      width: 70%;
    }
    .footer {
      font-size: 14px;
      text-align: center;
      color: #606060;
      margin-top: 2%;
      margin-bottom: 3%;
    }
  </style>
</head>
<body topmargin="0" bottommargin="0" leftmargin="0" rightmargin="0" text="#000000">
  <table cols="1" height="0" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
      <tr>
        <td>
          <div class="base">
            <details>
              <summary>Source link. Be careful ⚠️</summary>
              <a href="{{ url }}" target="_blank" rel="noopener noreferrer">{{ url }}</a>
            </details>
          </div>
        </td>
      </tr>
      <tr>
        <td><div class="base content">{% block content %}{% endblock %}</div></td>
      </tr>
      <tr>
        <td><div class="footer"><p>📎 Lnk</p></div></td>
      </tr>
    </tbody>
  </table>
</body>
</html>